<div class="nav-bar">
    <div class="card logo">
        <img src="../../../assets/Logo1.svg" width="70px" alt="">
    </div>

    <div class="card">
        <ul class="nav" [ngClass]="{'show': isMenuOpen}">
            <li class="nav-item">
                <a class="nav-link active">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Resume</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>

        <button class="hamburger" aria-label="Abrir Menu" (click)="toggleMenu()">
            &#9776;
        </button>
    </div>
</div>
