@use "../../styles/variables.scss" as *;

.nav-bar {
    border: 2px solid blu;
     width: 100%;
    padding: 1rem 2rem; // ou menos, se quiser mais colado
    display: flex;
    // flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    .card {
        display: flex;
        align-items: center;

        .nav {
            display: flex;
            gap: 1rem;

            // Por padrão, visível
            @media (max-width: 768px) {
                display: none;
                flex-direction: column;
                position: absolute;
                top: 70px;
                right: 0;
                background-color: white;
                width: 100%;
                padding: 1rem;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            }

            &.show {
                display: flex; // Sem necessidade de !important
            }
        }

        .hamburger {
            display: none;
            font-size: 2rem;
            background: none;
            border: none;
            cursor: pointer;

            @media (max-width: 768px) {
                display: block;
            }
        }
    }
}




